    <div class="row">
        <div class="col-md-2  bg-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/users/admin">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/doll">Dolls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/figure">Figures</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
<a href="/doll" class="btn btn-primary"
    onclick="return confirm('Are you want to back to main screen? Your data may not be saved')">Back</a>
<div class="container col-md-8 mt-4 mb-3 card bg-light">

    <form action="/doll/add" method="post" enctype="multipart/form-data">
        <h1 class="text text-danger text-center">Add new figure</h1>
        <div class="form-group mt-2">
            <label for="">Model: </label>
            <input class="form-control" type="text" name="model" required>
        </div>
        <div class="form-group mt-2">
            <label for="">Brand: </label>
            <input class="form-control" type="text" name="brand" required>
        </div>
        
        <div class="form-group mt-2">
            <label for="">Quantity: </label>
            <input class="form-control" type="number" name="quantity" required>
        </div>
        <div class="form-group mt-2">
            <label for="">Price: </label>
            <input class="form-control" type="text" name="price" required>
        </div>
        <div class="form-group mt-2">
            <label for="">Date: </label>
            <input class="form-control" type="date" name="date" required>
        </div>
        <div class="form-group mt-2">
            <label for="">Image: </label>
            <input class="form-control" type="file" name="image" required>
        </div>
        <div class="form-group mt-3 mb-3 text-center">
            <input type="submit" class="btn btn-success" value="Add">
        </div>
    </form>
    </div>
</div>
    </div>